---
layout: default
---
<!-- Post prev/next buttons -->
<div align="center">
{% if page.previous %}
   <b><a rel="prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }} &there4;</a></b>
 {% endif %}
   <a href="http://gaylin.github.io/blog/">Graphological Legerdemain</a>
 {% if page.next %}
   <b><a rel="next" href="{{ page.next.url }}">&there4; {{ page.next.title }} &raquo;</a></b>
 {% endif %}
</div>
<!-- Post title and date info -->
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_long_string }}</p>
<!-- Post contents -->
<div class="post">
  {{ content }}
</div>
<!-- Post comments -->
<div class="postcomments">
	{% include disqus.html %}
</div>
